<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-96da2-default-rtdb.europe-west1.firebasedatabase.app/</string>
	<key>CLIENT_ID</key>
	<string>786643513151-h34gsquoe6ejuc0acujhag5a1811cca2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786643513151-h34gsquoe6ejuc0acujhag5a1811cca2</string>
	<key>API_KEY</key>
	<string>AIzaSyC3Nw8AytYQVL4VfSe_JmarZDvdzelFQXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>786643513151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angelaterao.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-96da2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-96da2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:786643513151:ios:189676f62b7d014dbe2d8a</string>
</dict>
</plist>
